.moda {
    width: 250px;
}

.moda th {
    background-color: #BB86FC;
    color: #ffffff;
    padding: 5px;
}

.moda td {
    background-color: #424250;
    color: #ffffff;
    padding: 5px;
}

.casa {
    width: 200px;
}

.casa th {
    background-color: #00C4B4;
    color: #ffffff;
    padding: 5px;
}

.casa td {
    background-color: #424250;
    color: #ffffff;
    padding: 5px;
}

